// Specific CSS for your home-page
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  // background-color: white;
  background-image: url("https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2009&q=80");
  object-fit: none;
}

.page {
  margin: 1%;
}

.header {
  text-align: center;
  margin: 3%;
}

.home-header {
  margin-top: 20%;
}
.home-header-name {
  font-size: 6vw;
}

h1, h2, h3 {
  font-family: "Monoid";
  font-weight: 100;
}

.letters {
  font-family: "Monoid";
  font-weight: 100;
}

.bright-pink-logo {
  color: #FF6666 !important;
}

button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #FF6666;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #FF0066, 3px 3px 1px 1px black;
}
button:hover {
  background: #FF6666;
  color: white;
  border: 1px solid black;
} 
