// FORM
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.form-group__input {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 28pt;
  margin-bottom: 24pt;
  border: none;
  padding-left: 5px;
  outline: none;
  color: black !important;
}

.form-group__checkbox {
  line-height: 28pt;
  margin-bottom: 12pt;
  margin-right: 32px;
  font-size: 12pt;
  font-weight: 200;
  padding: 6px 16px;
  transition: padding 0.25s ease-in-out ;
}

.form-group__checkbox:hover {
  padding: 10px 16px;
}

::selection {
  background: #ffc8ff;
}

.form-group {
  margin-bottom: 1em;
}

.form-group__label {
  display: block;
}

.form-group__input {
  display: block;
  width: 100%;
}

.form-group__textbox {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  font-size: 12px;
  border-style: none;
}

.title-font-style {
  font-weight: 500;
  color: black;
  font-size: 12pt;
  margin-bottom: 8pt;
  line-height: 28pt;
  margin-block-start: 0em;
}

.container-checkbox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}



// HEADER
.hero__title {
  font-size: 36px;
}

.hero__subtitle {
  font-weight: 300;
  font-size: 18px;
}

.link {
  color: black;
}

// PAGE

.column {
  height: 100%;
}

.title-text-contact {
  // background: white;
  padding: 3%;
  width: 30%;
}

.main {
  flex: 1 1 auto;
  margin: auto;
  max-width: 40em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  align-content: center;
  overflow:auto;
}

.contact-us {
  padding: 3%;
  width: 35%;
  overflow:auto;
}

/* Responsive Design */
.column {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

// COLOUR

.pink {
  background-color: #F9E0EC;
}

.blue {
  background-color: #E6F3F9;
}

// .yellow {
//   background-color: #F3F9E6;
// }

// .peach {
//   background-color: #FFE6E6;
// }

.beige {
  background-color: #F3ECEC;
}

.bright-pink-logo {
  color: #FF6666;
}

// SOCIAL ICONS
.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.fab {
  color: black;
}