.project-link {
  text-decoration: none;
  color: black;
  margin: 1%;
  text-align: center;
}

.project-link:hover {
  text-decoration: none;
  color: black;
}

.project-header {
  margin: 3%;
}

.project-info {
  margin: 3%;
}
