.project-link {
  text-decoration: none;
  color: black;
  margin: 1%;
  text-align: center;
}

.project-link:hover {
  text-decoration: none;
  color: black;
}

.project-header {
  margin: 3%;
}

.project-info {
  margin: 3%;
}

.img-hover-zoom {
  height: 150px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover {
  transform: scale(1.2);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}