<div class="navigation">
  <%= link_to "Home", root_path  %>
  <%# <%= link_to "My Work", projects_path  %>
  <%# Link to More about me Page %>
  <%# <%= link_to "More about me", about_path  %>
  <%# Link to Contact me Page %>
  <%# <%= link_to "Contact me", contact_path  %>  
</div>