<div class="container"> 
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 title-text-contact column">
      <h1 class="hero__title">Let's have a chat<strong class="bright-pink-logo">.</strong></h1>
      <p class="hero__subtitle">Get in touch.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 contact-us column">
      <form class="form" action="https://formspree.io/f/xaylazjw" method="POST">
        <input type="hidden" name="id" value="123456">
        <input class="form-group__input pink" type="text" name="name" placeholder="Name" required>
        <input class="form-group__input pink" type="email" name="email" placeholder="Email" required>Date of birth
        <input class="form-group__input pink" type="date" name="dob" placeholder="Date of birth" max="2005-01-01" min="1946-01-01" required>
        <input class="form-group__input pink" type="text" name="telephone" placeholder="Telephone" pattern="((\+|00)?[1-9]{2}|0)[1-9]([0-9]){9}" required>
        <input class="form-group__input pink" type="text" name="address" placeholder="Address" required>
        <input class="form-group__input pink" type="number" name="years" placeholder="Number of years experience" min="0" required>
      </form>
      <button class="btn pink">Send</button>
    </div>
  </div>
</div>