<div class="container"> 
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 title-text-contact column">
      <h1 class="hero__title">Let's have a chat<strong class="bright-pink-logo">.</strong></h1>
      <p class="hero__subtitle">Get in touch.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 contact-us column">
      <%# <form class="form" action="https://formspree.io/f/xaylazjw" method="POST">
        <input type="hidden" name="id" value="123456">
        <input class="form-group__input pink" type="text" name="first-name" placeholder="First Name" class="form-float" required>
        <input class="form-group__input pink" type="text" name=";ast-name" placeholder="Last Name" required>
        <input class="form-group__input pink" type="email" name="email" placeholder="Email" required> 
        <input class="form-group__input pink" type="text" name="telephone" placeholder="Telephone" pattern="((\+|00)?[1-9]{2}|0)[1-9]([0-9]){9}" required>
        <input class="form-group__input pink" type="text" name="message" placeholder="Message" required>
      </form> %>
      <%# <button class="btn pink">Send</button> %>
      <form action="https://formspree.io/f/mlezwadr" method="POST">
        <label>
          Email Address: 
          <input type="email" name="email">
        </label>
        <label>
          Your Message :
          <textarea name="message" rows="3"></textarea>
        </label>
        <!-- your other form fields go here -->
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="social-icons">
    <a target="_blank" href="https://github.com/emilydoswell">
      <p><i class="fab fa-github hvr-grow bright-pink-logo"></i></p>
    </a>    
    <a target="_blank" href="https://www.linkedin.com/in/emilydoswell/">
      <p ><i class="fab fa-linkedin hvr-grow bright-pink-logo"></i></p>
    </a>  
  </div>
</div>