<div class="project-page">
  <div class="header">
    <h1 class="project-header">These are my projects<strong class="bright-pink-logo">.</strong></h1>
  </div>  

  <div class="container-project">
      <div class="img-hover-zoom">
        <a href="http://www.amoobl.com/" class="project-link" target="_blank">
          <img src="https://i.ibb.co/99YHmdg/amoobl-ourteam-jpeg.png" alt="Our Team page on amoobl.com">
          <div class="project-header">
            <h2>Amoobl</h2>
          </div>
          <div class="project-info">
            <p>
              A platform to donate your unwanted furniture and/or buy furniture upcycled by artists. 
              Targeted at eco-friendly urban people who want to fight furniture waste and/or furnish 
              their home in a unique, artistic way. 
            </p>
          </div>
        </a>
      </div>
      <div class="img-hover-zoom">
        <a href="http://mooking.herokuapp.com/" class="project-link" target="_blank">
          <img src="https://i.ibb.co/DKB9J1F/mooking.png" alt="Homepage of Mooking.com">
          <div class="project-header">
            <h2>Mooking.com</h2>
          </div>
          <div class="project-info">
            <p>
              A clone AirBnb site which rents cows.
            </p>
          </div>
        </a>
      </div>
      <div class="img-hover-zoom">
        <a href="<%= root_path(@home) %>" class="project-link" target="_blank">
        <img src="https://i.ibb.co/Nj5tGjS/portfolio.png" alt="">
          <div class="project-header">
            <h2>My Portfolio Site</h2>
          </div>
          <div class="project-info">
            <p>My website, a place to demonstrate my work and express myself creatively.</p>
          </div>
        </a>
      </div>
      <div class="img-hover-zoom">
      
        <a href="https://dry-refuge-16692.herokuapp.com/" class="project-link" target="_blank">
          <div class="project-header">
            <h2>Hungry</h2>
          </div>
          <div class="project-info">
            <p>A site to search through your favourite restaurants. Creating using React and the Yelp API.</p>
          </div>
        </a>
      </div>
  </div>
</div>
