.navigation {
  // justify-content: space-between;
  // background: white;
  flex-grow: 0;
  color: black;
  text-decoration: none;
  margin: 1%;
  text-align: center;
}

.title-nav {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 1%;
}

.title-nav:hover {
  color: black;
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
